body{
    margin-top: 20px;
    background-color: antiquewhite;

}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.topbar{
    background-color:;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;

}
.topbar a{
    float: right;
    color: azure;
    
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;

}
.topbar a:hover{
    color:#3d1308;
background: transparent;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
    margin-left: 6.85%;
    margin-right: 6.85%;
	padding-left: 8%;
	padding-right: 8%;
    background: black;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 4px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
    text-decoration: none;
	color: #f9004d;
	transition: .4s;
    
}
.request{
    color: White;
    background-color:#A63446;
    text-align: center;

    padding-top: 20px;
    font-size: 30px;
    margin-left: 6.85%;
    margin-right: 6.85%;
    margin-bottom: 30px;
}
 .request h4{
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}
.card-body{
    color: aliceblue;
    /*justify-content: center;*/
    /*display: flex;*/
   
}
.col-md-4 img{
    margin-top: 100px;
    margin-right: 30px;
    justify-content:center;
    display: flex;
    
   
}  

.col-md-8{
    width: 350px;
        height: 350px;
        padding: 60px 30px;
        /*margin-left:150px;*/
        background: #A63446;
        box-shadow: 0.6em 0.6em 1.2em #A63446,
                    -0.5em -0.5em 1em #7B0D1E;
        border-radius:20px;
        border-color: black;
        display: block;
        margin-left: 630px;
}
.container1{
    justify-items: center;
    margin-bottom:50px;
    
   
}