body{
    background-color:#232222;
    align-content: center;   
    margin-left: 340px;
}

.container
{
    max-width: 50%;
    background-color:#A63446;
    padding: 70px;
    margin-left: 23px;
    margin-right: 23px;
    align-items: center;

}
.container h1,p{
    text-align: center;
}
input,textarea
{
    display:block;
    border:2px solid black;
    border-radius:10px;
    outline:none;
    width: 80%;
    margin:6px auto;
    padding:6px;
    
}
form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#username:hover,#password:hover,#name:hover,#registration_number:hover,#roll_number:hover,#gender:hover,#phone_number:hover,#email:hover
{
    background: bisque;
}
.btn
{
    color: white;
    background-color:#5b1a24;
    padding: auto auto;
    border:2px solid white;
    border-radius:10px;
    cursor:pointer;
    
}

@media (max-width:1000px){

    html{
        font-size: 80%;
    }

    body{
        align-content:right;   
        margin-left: 200px;
    }

    .container
{
    max-width: 50%;
    background-color:#A63446;
    padding: 40px;
    align-items: center;

}


}

@media (max-width:1000px){

    html{
        font-size: 70%;
    }

    body{
        align-content:center;   
        margin-left: 100px;
    }

    .container
{
    max-width: 50%;
    background-color:#A63446;
    padding: 40px;
    align-items: center;

}

@media (max-width:400px){
    html{
        font-size: 65%;
    }

    body{
        align-content: center;   
        margin-left: 25px;
    }
}