.container
{
    max-width: 80%;
    background-color: crimson;
    padding: 34px;
    margin: 23px;
}
.container h1,p{
    text-align: center;
}
input,textarea
{
    display:block;
    border:2px solid black;
    border-radius:10px;
    outline:none;
    width: 80%;
    margin:6px auto;
    padding:6px;
    
}
form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#username:hover,#password:hover,#name:hover,#registration_number:hover,#roll_number:hover,#gender:hover,#phone_number:hover,#email:hover
{
    background: bisque;
}
.btn
{
    color: white;
    background-color: darkmagenta;
    padding: auto auto;
    border:2px solid white;
    border-radius:10px;
    cursor:pointer;
    
}